/* || Botões.*/
input[type="submit"],
input[type="reset"] {
	border: 0;
	border-radius: 6px;
	color: $cor-fundo-variante;
	cursor: pointer;
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	padding: 0px 16px 0px 16px;
	text-align: center;
	vertical-align: middle;
}

.botao-confirmar {
	background-color: $cor-secundaria;
}

.botao-cancelar {
	background-color: $cor-alerta;
	margin-left: 20px;
}

//Necessário para o funcionamento de create_group.html. Refatorar até o final do projeto.
.button-container a.button-confirmar {
	display: inline-block;
	padding: 10px 20px;
	background-color: #9732ad;
	text-decoration: none;
	border-radius: 5px;
	margin-right: 10px;
	color: #fff;
}

//Necessário para o funcionamento de create_group.html. Refatorar até o final do projeto.
.button-container a.button-cancelar {
	display: inline-block;
	padding: 10px 20px;
	background-color: #fd7e14;
	text-decoration: none;
	border-radius: 5px;
	margin-right: 10px;
	color: #fff;
}

.botao-excluir {
	background-color: $cor-erro;
}

.botao-confirmar:hover {
	background-color: $cor-secundaria-variante;
}

.botao-cancelar:hover {
	background-color: $cor-alerta-variante;
}

.botao-excluir:hover {
	background-color: $cor-erro-variante;
}

.botao-confirmar:active,
.botao-cancelar:active,
.botao-excluir:active {
	transform: translateY(1px);
	-webkit-transform: translateY(1px);
	-moz-transform: translateY(1px);
	-ms-transform: translateY(1px);
	-o-transform: translateY(1px);
}

/* || Formulários.*/

label,
.campo-label {
	display: inline-block;
	line-height: 40px;
	font-weight: bold;
	color: $cor-fonte-variante;
	padding: 10px 20px;
	// padding-inline-start: 100px;
}

.campo-valor {
	border-radius: 5px;
	display: inline-block;
	line-height: 30px;
	margin-bottom: 20px;
	padding-inline-start: 10px;
}

/* || Dias da Semana.*/
//Importado de main.css
.clickable-box {
	align-items: center;
	background-color: lightgray;
	color: #47525e;
	cursor: pointer;
	display: flex;
	height: 25px;
	justify-content: center;
	margin-right: 10px;
	transition: background-color 0.3s;
	width: 50px;
}

.clickable-box.clicked {
	background-color: #0b478d;
	color: white;
	font-weight: bold;
}

.clickable-box:hover {
	background-color: #4f86c6;
}

/* || Outros campos.*/
//Importado de create_group.css
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.row {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.label {
	font-weight: bold;
	width: 150px;
	color: #8190a5;
}

.value {
	color: #8190a5;
}

.input {
	width: 200px;
	line-height: normal;
	vertical-align: top;
}

//Importado de entrar-grupo.css
.tema {
	text-align: center;
}

.ideia {
	text-align: center;
}

.bot {
	text-align: center;
}
.foto {
	text-align: center;
	padding-bottom: 40px;
}
#foto-fundo {
	width: 290px;
	height: 180px;
}

@media screen and (max-width: 768px) {
	.navbar,
	.tema,
	.ideia {
		width: 760px;
	}
}
@media screen and (max-width: 1200px) {
	.navbar,
	.tema,
	.ideia {
		width: 900px;
	}
}
