img{
    margin-left: 620px;
    margin-top: 40px;
    width: 320px;
    
}

.theme_idea{
    text-align: center;
    margin-top: 70px;
    margin-left: 200px;
}

.host_idea {
    text-align: center; 
    margin-left: 200px;
}

.botao{
    text-align: center;
    margin-top: 50px;
    margin-left: 200px;
    
}