@charset "UTF-8";
/* Os valores abaixo devem ser alterados apenas nos arquivos armazenados em /sass. Eventuais alterações feitas diretamente neste arquivo serão sobrescritas quando houver nova compilação.*/
/* || Reset.*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

/* || Página.*/
html,
body {
  background-color: #ffffff;
  font-family: Lato, sans-serif;
  font-size: 16px;
  height: auto;
  width: auto;
}

/* || Barra Superior.*/
.navbar {
  background-color: #00547a;
  border: 0;
  height: 50px;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

.navbar-logo {
  float: left;
  height: 40px;
  margin-left: 10px;
  margin-top: 5px;
}

.avatar {
  border-radius: 50%;
  float: right;
  height: 40px;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 5px;
  width: 40px;
}

/* || Barra Lateral.*/
.sidebar {
  background-color: #f9fafc;
  border-right: 1px solid #d3dce6;
  color: #47525e;
  display: block;
  font-size: large;
  height: 100%;
  position: fixed;
  top: 50px;
  width: 250px;
}

.sidebar-icon {
  display: inline-block;
  padding: 10px 0px 0px 10px;
  vertical-align: middle;
}

.sidebar-item,
.sidebar-item a:link,
.sidebar-item a:visited {
  background-color: #ffffff;
  color: #47525e;
  display: block;
  line-height: 40px;
  list-style-type: none;
  text-decoration: none;
}

.sidebar-item:first-of-type,
.sidebar-subitem:first-of-type {
  border-top: solid 1px #d3dce6;
}

.sidebar-item:last-child,
.sidebar-subitem:last-child {
  border-bottom: solid 1px #d3dce6;
}

.sidebar-subitem,
.sidebar-subitem a:link,
.sidebar-subitem a:visited {
  background-color: #f9fafc;
  color: #8492a6;
  display: block;
  font-size: medium;
  line-height: 35px;
  list-style-type: none;
  text-indent: 60px;
  text-decoration: none;
  box-sizing: border-box;
}

.sidebar-item a:hover,
.sidebar-subitem a:hover {
  background-color: #e0e1e3;
}

.sidebar-item a:active,
.sidebar-subitem a:active {
  background-color: #ffffff;
  border: solid 1px;
  border-left: solid 3px;
  border-color: #00547a;
}

/* || Conteúdo Principal.*/
main {
  display: flex;
  font-size: large;
  height: 100%;
  width: 100%;
  padding: 60px 10px 10px 260px;
}

/* || Botões.*/
input[type=submit],
input[type=reset] {
  border: 0;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  padding: 0px 16px 0px 16px;
  text-align: center;
  vertical-align: middle;
}

.botao-confirmar {
  background-color: #9732ad;
}

.botao-cancelar {
  background-color: #fd7e14;
  margin-left: 20px;
}

.button-container a.button-confirmar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #9732ad;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
}

.button-container a.button-cancelar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fd7e14;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
}

.botao-excluir {
  background-color: #dc3545;
}

.botao-confirmar:hover {
  background-color: #ca65e0;
}

.botao-cancelar:hover {
  background-color: #ffb147;
}

.botao-excluir:hover {
  background-color: #ff6878;
}

.botao-confirmar:active,
.botao-cancelar:active,
.botao-excluir:active {
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
}

/* || Formulários.*/
label,
.campo-label {
  display: inline-block;
  line-height: 40px;
  font-weight: bold;
  color: #8492a6;
  padding: 10px 20px;
}

.campo-valor {
  border-radius: 5px;
  display: inline-block;
  line-height: 30px;
  margin-bottom: 20px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}

#tema,
#temaLabel {
  display: none;
}

/* || Dias da Semana.*/
.clickable-box {
  align-items: center;
  background-color: lightgray;
  color: #47525e;
  cursor: pointer;
  display: flex;
  height: 25px;
  justify-content: center;
  margin-right: 10px;
  transition: background-color 0.3s;
  width: 50px;
}

.clickable-box.clicked {
  background-color: #0b478d;
  color: white;
  font-weight: bold;
}

.clickable-box:hover {
  background-color: #4f86c6;
}

/* || Outros campos.*/
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.label {
  font-weight: bold;
  width: 150px;
  color: #8190a5;
}

.value {
  color: #8190a5;
}

.input {
  width: 200px;
  line-height: normal;
  vertical-align: top;
}

.tema {
  text-align: center;
}

.ideia {
  text-align: center;
}

.bot {
  text-align: center;
}

.foto {
  text-align: center;
  padding-bottom: 40px;
}

#foto-fundo {
  width: 290px;
  height: 180px;
}

@media screen and (max-width: 768px) {
  .navbar,
  .tema,
  .ideia {
    width: 760px;
  }
}
@media screen and (max-width: 1200px) {
  .navbar,
  .tema,
  .ideia {
    width: 900px;
  }
}
/* || Tabelas.*/
.tabela-atividades {
  border-collapse: collapse;
  width: 100%;
}

.tabela-cabecalho {
  background-color: #f9fafc;
  border: 1px solid #d3dce6;
  border-radius: 5px;
  color: #47525e;
  font-weight: bold;
  padding: 8px;
  text-align: left;
}

.tabela-linha {
  background-color: #ffffff;
  border: 1px solid #d3dce6;
  border-radius: 5px;
  color: #8492a6;
  line-height: 26px;
  text-align: left;
}

.tabela-celula {
  border-right: 1px solid #d3dce6;
  padding: 8px;
}

/*Importado de main.css/*

/* || Conteúdo Principal Turmas*/
/*  SESSÃO ARTHUR - COMEÇO*/
main {
  display: flex;
  font-size: large;
  height: 100%;
  width: 100%;
  padding: 60px 10px 10px 260px;
}

#conteudo {
  color: red;
  flex-grow: 1;
  height: 100%;
  display: inline-block;
  color: #47525e;
  margin: auto 20px;
}

#divlogocontect {
  margin-top: 10px;
  text-align: center;
}

#img-logo-conteudo {
  max-width: 150px;
  width: auto;
}

#barraPesquisa {
  width: 100%;
  margin-top: 10px;
  display: flex;
}

#campo-pesquisa {
  width: 70%;
  height: 40px;
  font: 23px "Lato";
  border: solid #d3dce6 1px;
  border-radius: 5px;
  padding-left: 20px;
  box-shadow: 2px 2px 5px #119ad9;
  font-style: italic;
  margin-top: 4px;
  margin-left: 10%;
}

#campo-pesquisa:focus {
  outline: 0;
  font-style: normal;
}

/* || Tabela c/ Turmas */
#div-tabela {
  margin-top: 20px;
  width: 82vw;
  border: solid 1px #8492a6;
  border-radius: 5px;
  height: 65vh;
  overflow-y: auto;
}

#tabela-turmas {
  width: 100%;
  text-align: center;
}

table#tabela-turmas {
  border-collapse: collapse;
}

thead#head-table {
  background-color: #e0e0e0;
  height: 50px;
  position: sticky;
  top: 0;
  font-size: 1.2em;
}

table#tabela-turmas tr {
  height: 50px;
}

th#coluna-eixo,
td#coluna-eixo {
  width: 10%;
}

th#coluna-disc,
td#coluna-disc {
  width: 55%;
}

th#coluna-turma,
td#coluna-turma {
  width: 10%;
}

th#coluna-alunos,
td#coluna-alunos {
  width: 5%;
}

th#coluna-acoes,
td#coluna-acoes {
  width: 10%;
}

#icones-coluna {
  margin: 0 5px;
  max-width: 23px;
}

/* || Modal Criar Turma */
.modal {
  background-color: rgba(206, 214, 209, 0.64);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

#conteudo-modal {
  background-color: #ffffff;
  border: 2px solid #8492a6;
  border-radius: 5px;
  width: 850px;
  height: 350px;
  font-size: 1.2em;
  margin: 15% auto;
}

#cont-modal-header {
  text-align: center;
  padding-top: 10px;
  font-size: 2.3em;
  font-family: "Grand Hotel", cursive;
}

#cont-modal-corpo {
  text-align: center;
}

#div-eixo-periodo {
  position: absolute;
  text-align: left;
  margin-left: 45px;
}

#div-turma {
  text-align: right;
  margin-right: 50px;
}

#input-eixo-periodo,
#input-turma {
  width: 200px;
  height: 40px;
  margin: 30px 0px 20px 10px;
  border: 0.5px solid;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 1.1em;
}

#input-disciplina {
  width: 80%;
  max-width: 650px;
  height: 40px;
  margin: 30px 0px 50px 10px;
  border: 0.5px solid;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 1.1em;
}

#cont-modal-rodape {
  float: right;
}

/* || Botões - Arthur */
#botao-atualizar {
  height: 50px;
}

#botao-pesquisa {
  margin-top: 4px;
  height: 40px;
  margin-left: 10px;
}

#botao-nova-turma {
  background-color: #cee4f0;
  width: 152px;
  height: 45px;
  font-size: 20px;
  color: black;
  margin-top: 1px;
  border: solid #d3dce6 2px;
  text-align: center;
  vertical-align: middle;
  transition: 0.5s;
}

#botao-nova-turma:hover {
  background-color: #91cdec;
  transition: 0.1s;
}

#botao-nova-turma:active {
  background-color: #c5cfda;
}

#botao-cancelar {
  font-size: 25px;
  width: 150px;
  color: black;
  margin-right: 40px;
}

#botao-adicionar-turma {
  font-size: 25px;
  width: 150px;
  background-color: #cee4f0;
  color: black;
  margin-right: 50px;
}

#botao-adicionar-turma:hover {
  background-color: #91cdec;
}

#botao-adicionar-turma:active {
  transform: translateY(1px);
}

/*  SESSÃO ARTHUR - FINAL*//*# sourceMappingURL=main.css.map */